FluHyperLinkLabel {
    color: blue;
    border: none;
    background-color: transparent;
    text-align: left;
    padding: 0;
    margin: 0;
}

FluHyperLinkLabel[underline=true] {
    text-decoration: underline;
}

FluHyperLinkLabel[underline=false] {
    text-decoration: none;
}

FluHyperLinkLabel:hover {
    color: blue;
}

FluHyperLinkLabel:pressed {
    color: blue;
}